<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDelWkd3lebcjo8pEuwb-OkQW7aojkAMFA</string>
	<key>GCM_SENDER_ID</key>
	<string>462766812324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exmoorUnderwear</string>
	<key>PROJECT_ID</key>
	<string>exmoor-underwear</string>
	<key>STORAGE_BUCKET</key>
	<string>exmoor-underwear.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462766812324:ios:0e3f08d68e767dd8160a31</string>
</dict>
</plist>